#ads-content {
    margin: 2em auto 2em auto;
    width: 300px;
}

.ads-responsive {
    width: 300px;
    height: 250px;
}

@media (min-width: 500px) {
    #ads-content {
        width: 468px;
    }

    .ads-responsive {
        width: 468px;
        height: 60px;
    }
}
@media (min-width: 800px) {
    #ads-content {
        width: 728px;
    }

    .ads-responsive {
        width: 728px;
        height: 90px;
    }
}
