#header {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background: #fff;
    height: 80px;
    margin: 0 auto 18px auto;
    padding-left: 1.1em;
    width: 80%;
}

#logo {
    float: left;
    height: 80px;
    line-height: 80px;
}

#logo span {
    font-size: 2.4em;
    font-family: Raleway,Hiragino Sans GB,sans-serif;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    color: #108ee9;
    text-transform: uppercase;
}