#header {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    height: 80px;
    margin: 0 auto 18px auto;
    padding-left: 1.1em;
    padding-top: 1.5em;
    width: 80%;
}

#footer {
    padding: 1rem;
    background: #ececec;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    text-align: center;
}

#header .coin-image {
    max-width: 38px;
    vertical-align: middle;
    padding-left: 0.4em;
}

#header .coin-name {
    color: #444956;
    font-size: 18px;
    letter-spacing: .1em;
    overflow: hidden;
    padding-left: 0.2em;
}

#header .coin-price {
    color: #444956;
    font-size: 18px;
}

#header .dollar-sign {
    color: #acb1bf;
}

#go-back>i {
    font-size: 28px;
    vertical-align: middle;
    color: #108ee9;
}

#canvas-content {
    margin: 0 auto 42px auto;
    width: 80%;
}