body {
    background: #f1f1f1;
    padding-bottom: 6rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    cursor: pointer;
    cursor: hand;
  }

nz-layout, nz-header, nz-content,
.ant-layout {
    background: #fff !important;
}

nz-layout {
    height: 100vh;
}

.ant-table {
    font-size: 14px !important;
}