<div *ngIf="cryptos">
  <div id="crypto-table">
    <nz-table #nzTable [nzDataSource]="cryptos" [nzIsPagination]="false">
      <thead nz-thead>
        <tr>
          <th nz-th>
            <span>Name</span>
          <th nz-th>
            <span>Symbol</span>
          </th>
          <th nz-th>
            <span>Price (USD)</span>
          </th>
          <th nz-th>
            <span>Market Cap</span>
          </th>
          <th nz-th>
            <span>Chg (24H)</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let crypto of nzTable.data" (click)="onSelect(crypto)">
          <td nz-td class="crypto-name flag">
            <img src="{{ crypto.Image1x }}" srcset="{{ crypto.Image2x }}" />
            {{ crypto.Name }}
          </td>
          <td nz-td class="crypto-symbol">{{ crypto.Key }}</td>
          <td nz-td [ngClass]="{'price-up': (crypto.PriceCompare > 0 && showloader), 'price-down': (crypto.PriceCompare < 0 && showloader) }" class="crypto-price">{{ crypto.Price }}</td>
          <td nz-td class="crypto-market-cap">{{ crypto.MarketCap }}</td>
          <td nz-td [ngClass]="(crypto.Change24Num > 0) ? 'change24-green' : 'change24-red'" class="crypto-change24">{{ crypto.Change24 }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<app-crypto-detail [crypto]="selectedCrypto"></app-crypto-detail>