#crypto-table {
    width: 80%;
    margin: 0 auto 4px auto;
    padding: 1em;
}

div#crypto-container {
    background:white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
}
