#crypto-table {
    width: 80%;
    margin: 0 auto 4px auto;
    padding: 1em;
}

.ant-table-tbody > tr > td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.table-operations {
    margin-bottom: 16px;
}

.table-operations > button {
    margin-right: 8px;
}

.flag img {
    max-width: 23px;
    vertical-align: middle;
    margin-right: 4px;
}

.crypto-name {
    font-weight: bold;
    cursor: pointer;
}

.crypto-price, .crypto-market-cap,
.crypto-change24, .crypto-symbol {
    font-weight: bold;
}

.price-up {
    background-color: #ebf8f2;
}

.price-down {
    background-color: #fef0ef;
}

.change24-green {
    color: #2ac27a;
}

.change24-red {
    color: #ff6060;
}